body {
  font-family: Arial, Helvetica, sans-serif;
}

// remove default link styling
a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.background-shading {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
  height: 1000px;
  background: linear-gradient(
    to bottom, rgba(0,0,0, 0), rgba(0,0,0,0.5));
}

.background-img {
  width: 100%;
  position: fixed;
  top: -350px;
  z-index: -2;
}